{% extends "base.html" %}

{% block app_content %}
    <section style="text-align: center; padding: 2rem 1rem;">
        <header>
            <h1 style="font-weight: bold;">Application Version</h1>
            <hr>
        </header>

        <div style="display: flex; flex-flow: row nowrap; justify-content: center; gap: 2rem;">
            <p>
                <strong>Current Version:</strong>
            </p>
            <code data-testid="version">
                {{ version }}
            </code>
        </div>
    </section>
{% endblock %}
